<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <!-- Angular Dev Toolkit lightweight single-quadrant graph-->
  <adt-graph title="Typescript Math Toolkit Linear Regression" xAxisLabel="X-Data" yAxisLabel="Y-Data"></adt-graph>

  <!-- some controls to vary the graph size and exercise redraw -->
  <div class="controls">
    <button mat-button color="primary" (click)="onClear()">Clear</button>
    <button mat-button color="primary" (click)="onRedraw()">Redraw</button>
  </div>
</div>
